body{
  
   background-color: #d488bb;
    background-repeat:inherit;
}

.pro{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.abc{
    background-color: black;
}