.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
  }
  
  .my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: rgb(0, 0, 0);
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .object- {
    width: 100%;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }
  
  .card {
    background-color: pink;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
    color: white;
  }
  
  .btn-primary {
    margin-top: 1rem;
  }
  